$post-blue: #192492e8;
$username-almost-white: #e2ebf3;
$nav-button-dark-purple: #2b1e48;

.Login,
.Register {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border: 1px solid $post-blue;
  padding: 3vmin 30px;
  width: 70%;
  max-width: 700px;

  .heading {
    font-size: 4em;
    padding-bottom: 0.5em;
    text-align: center;
  }

  form {
    width: 90%;
  }

  input {
    font-size: large;
    margin: 8px 0;
    background-color: white;
    border-bottom: 1.5px solid $nav-button-dark-purple;
    padding: 0em 4em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    transition: ease-in 0.2s;
    color: black;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    &:focus-visible {
      outline: 0;
      border-bottom: 3px solid $nav-button-dark-purple;
    }

    &:focus:not(:focus-visible) {
      outline: none;
      border: none;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $nav-button-dark-purple;
    box-shadow: 0px 0px 200px 7pxrgb (123 138 222 / 39%) inset;
    -webkit-box-shadow: 0px 0px 200px 7px rgb(123 138 222 / 39%) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 2em;
  }
  .login-button {
    font-size: 1.75em;
    font-weight: 200;
    background-color: rgb(50 31 95);
    font-family: "Apparat-light", sans-serif;
    margin: 4px 0;
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(0.95);
      background-color: $nav-button-dark-purple;
      color: white;
    }
  }

  .form-bottom {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.15em;
  }

  i {
    text-decoration: italic;
  }

  .pw-toggle {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    margin: 8px 0;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .pw-checkbox {
      height: 100%;
      justify-content: center;
    }
  }

  .checkmark {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 25px;
    color: $nav-button-dark-purple;
  }
}

.Register {
  .form-bottom {
    flex-direction: column;
    align-items: center;
  }
}

.group {
  display: flex;
  border-bottom: 1.5px solid $nav-button-dark-purple;
  justify-content: space-between;

  input {
    border-bottom: 0px;

    &:focus-visible {
      outline: 0;
      border-bottom: 0;
    }

    &:focus:not(:focus-visible) {
      outline: none;
      border: none;
    }
  }
}

@media only screen and (max-width: 450px) {
  .Register {
    margin-top: 7.5%;
    padding: 2.5vmin 30px;
  }

  .Login,
  .Register {
    .form-bottom {
      font-size: 1em;
    }

    input {
      font-size: 0.9em;
      padding-right: 0;
    }

    .heading > h1 {
      font-size: 0.65em;
    }

    .login-button {
      font-size: 1.3em;
    }
  }
}
