.Login,
.Register {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border: 1px solid rgba(25, 36, 146, 0.9098039216);
  padding: 3vmin 30px;
  width: 70%;
  max-width: 700px;
}
.Login .heading,
.Register .heading {
  font-size: 4em;
  padding-bottom: 0.5em;
  text-align: center;
}
.Login form,
.Register form {
  width: 90%;
}
.Login input,
.Register input {
  font-size: large;
  margin: 8px 0;
  background-color: white;
  border-bottom: 1.5px solid #2b1e48;
  padding: 0em 4em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  transition: ease-in 0.2s;
  color: black;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
.Login input:focus-visible,
.Register input:focus-visible {
  outline: 0;
  border-bottom: 3px solid #2b1e48;
}
.Login input:focus:not(:focus-visible),
.Register input:focus:not(:focus-visible) {
  outline: none;
  border: none;
}
.Login input:-webkit-autofill,
.Login input:-webkit-autofill:hover,
.Login input:-webkit-autofill:focus,
.Register input:-webkit-autofill,
.Register input:-webkit-autofill:hover,
.Register input:-webkit-autofill:focus {
  -webkit-text-fill-color: #2b1e48;
  box-shadow: 0px 0px 200px 7pxrgb 123 138 222/39% inset;
  -webkit-box-shadow: 0px 0px 200px 7px rgba(123, 138, 222, 0.39) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.Login .form-buttons,
.Register .form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 2em;
}
.Login .login-button,
.Register .login-button {
  font-size: 1.75em;
  font-weight: 200;
  background-color: rgb(50, 31, 95);
  font-family: "Apparat-light", sans-serif;
  margin: 4px 0;
  color: white;
  border-radius: 5px;
  width: 100%;
  transition: ease-in-out 0.3s;
}
.Login .login-button:hover,
.Register .login-button:hover {
  transform: scale(0.95);
  background-color: #2b1e48;
  color: white;
}
.Login .form-bottom,
.Register .form-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.15em;
}
.Login i,
.Register i {
  -webkit-text-decoration: italic;
          text-decoration: italic;
}
.Login .pw-toggle,
.Register .pw-toggle {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin: 8px 0;
}
.Login .pw-toggle input,
.Register .pw-toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.Login .pw-toggle .pw-checkbox,
.Register .pw-toggle .pw-checkbox {
  height: 100%;
  justify-content: center;
}
.Login .checkmark,
.Register .checkmark {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 25px;
  color: #2b1e48;
}

.Register .form-bottom {
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;
  border-bottom: 1.5px solid #2b1e48;
  justify-content: space-between;
}
.group input {
  border-bottom: 0px;
}
.group input:focus-visible {
  outline: 0;
  border-bottom: 0;
}
.group input:focus:not(:focus-visible) {
  outline: none;
  border: none;
}

@media only screen and (max-width: 450px) {
  .Register {
    margin-top: 7.5%;
    padding: 2.5vmin 30px;
  }
  .Login .form-bottom,
.Register .form-bottom {
    font-size: 1em;
  }
  .Login input,
.Register input {
    font-size: 0.9em;
    padding-right: 0;
  }
  .Login .heading > h1,
.Register .heading > h1 {
    font-size: 0.65em;
  }
  .Login .login-button,
.Register .login-button {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=login.css.map */