$nav-button-dark-green: #1b5e20;
$heading-medium-green: #6b915f;
$post-light-green: #8bc34a96;
$post-comment-dark-green: #15410e;
$heading-h3-grey-green: #576253;

.Login,
.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border: 1px solid $post-light-green;
  padding: 3vmin 30px;
  width: 70%;

  .heading h1 {
    font-size: 4em;
    padding-bottom: 0.5em;
    text-align: center;
  }

  form {
    width: 90%;
  }

  input {
    font-size: large;
    margin: 8px 0;
    background-color: white;
    border-bottom: 1.5px solid $nav-button-dark-green;
    padding: 0em 4em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    transition: ease-in 0.2s;
    color: black;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    &:focus-visible {
      outline: 0;
      border-bottom: 3px solid $nav-button-dark-green;
    }

    &:focus:not(:focus-visible) {
      outline: none;
      border: none;
    }
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 2em;
  }
  .login-button {
    font-size: 1.75em;
    font-weight: 200;
    background-color: $post-light-green;
    margin: 4px 0;
    color: $post-comment-dark-green;
    border-radius: 5px;
    width: 100%;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(0.95);
      background-color: $nav-button-dark-green;
      color: white;
    }
  }

  .form-bottom {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.15em;
  }

  i {
    text-decoration: italic;
  }
}

.Register {
  .form-bottom {
    flex-direction: column;
    align-items: center;
  }
}
