.MyPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 60vw;
    align-items: flex-start;
    padding-top: 2em;
    color: #334a92;
  }
  h3 {
    color: #233362;
    font-weight: 500;
    // border-bottom: 1px solid #233362;
  }
}
