$dark-purple-background: #201922;

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  background-color: $dark-purple-background;
  padding-bottom: 2em;
  overflow: scroll;
}
