$dark-purple-background: #201922;
$light-yellow-background: #eae9e2;

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  background-color: $light-yellow-background;
  padding-bottom: 2em;
  overflow: scroll;
}
