$light-blue-post-color: rgb(149 180 224);
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lavender;
  border-radius: 2em;
  padding: 1.8em;
  background-color: rgb(68 59 81);
  background-color: $light-blue-post-color;
  transition: ease-in-out 0.5s;
  gap: 1em;

  .post-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .post-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &:hover {
    transform: scale(1.075);
  }

  .username {
    align-self: flex-start;
    font-size: 1.3em;
    font-family: "Compagnon-Medium", sans-serif;
  }

  .date {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
  }
  .comment {
    font-size: 1.5em;
    font-weight: 100;
    font-family: "Compagnon-Italic", sans-serif;
  }

  .delete-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

#delete {
  background-color: $light-blue-post-color;
  color: white;
  font-size: larger;
  transition: ease-in-out 0.3s;
  opacity: 50%;

  &:hover {
    opacity: 90%;
    cursor: pointer;
  }
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
