$light-blue-post-color: rgb(149 180 224);
$h3-turquoise: #2b98c1;

.Post {
  width: 100%;
  height: fit-content;
  border: 1px solid rgb(145, 229, 0);
  border-radius: 10px;
  padding: 2.5%;

  .card-username {
    text-transform: uppercase;
    color: blue;
    font-weight: 800;
    font-family: "Apparat-light", sans-serif;

    // font-family: "victorianna", sans-serif;

    font-style: normal;
  }

  .card-comment {
    color: rgb(28, 0, 0);
  }
}
