.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lavender;
  border-radius: 2em;
  padding: 1.8em;
  gap: 1em;
  background-color: rgb(68 59 81);
  transition: ease-in-out 0.5s;

  .post-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &:hover {
    transform: scale(1.075);
  }

  h2 {
    align-self: flex-start;
    font-size: 1em;
  }

  .date {
    font-size: 0.8em;
  }
  p {
    font-size: 2em;
    font-weight: 100;
    font-family: sans-serif;
  }
}
