$nav-button-dark-purple: #2b1e48;
$heading-h3-grey: #535e62;

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  h1 {
    font-family: "victorianna-italic", sans-serif;
    font-weight: 600;
    color: $nav-button-dark-purple;
    font-size: 9vmin;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  h3 {
    font-style: italic;
    color: $heading-h3-grey;
    font-family: "junction-regular", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vmin;
  }
}

@media only screen and (max-width: 700px) {
  .heading h1 {
    font-size: 11vmin;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .heading {
    display: flex;
    gap: 0px;
    h1 {
      text-align: center;
      font-size: 10vmin;
      padding-bottom: 0.25em;
      padding-right: 15px;
      padding-left: 15px;
      font-family: "league-script", sans-serif;
      // font-family: "junction-light", system-ui, sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 1.2;
      // font-stretch: condensed;
    }

    h3 {
      font-size: 4.5vmin;
      font-stretch: condensed;
    }
  }
}
