$post-blue: #1b1f48e8;

.footer {
  position: sticky;
  margin-top: auto;
  padding-bottom: 1em;
  padding-top: 0.8em;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-right: 2.5%;
  z-index: 100;
  font-family: apparat-light, sans-serif;

  button {
    padding: 5px;
    background: none;
    font-size: 1em;
    color: $post-blue;

    &:hover {
      border-bottom: 1px solid $post-blue;
    }
  }
}
