$nav-button-dark-green: #1b5e20;
$heading-medium-green: #6b915f;
$post-light-green: #8bc34a96;
$post-comment-dark-green: #15410e;
$heading-h3-grey-green: #576253;

.footer {
  position: sticky;
  margin-top: auto;
  padding-bottom: 1em;
  padding-top: 0.8em;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-right: 2.5%;
  z-index: 100;
  font-family: apparat-light, sans-serif;

  button {
    padding: 5px;
    background: none;
    font-size: 1em;
    color: $post-comment-dark-green;

    &:hover {
      border-bottom: 1px solid $post-comment-dark-green;
    }
  }
}
