// $babyblue: rgb(157, 202, 237);

.Post-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  gap: 20px;
  transition: opacity ease-in 0.5s;
  padding-bottom: 30px;

  .post-form {
    width: 100%;
  }

  h3 {
    padding-bottom: 15px;
  }

  button {
    transition: ease-in-out 0.4s;
    padding: 1vmin 2vmin;
    // background-color: rgb(0 0 0 / 28%);
    color: rgb(52, 60, 117);
    // box-shadow: 0px 0px 4px 0 #ffafe3;
    border: 1px solid white;
    border-radius: 20px;

    &:hover {
      color: white;
      background-color: #233468;
      opacity: 80%;
    }
  }

  input {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-bottom: 20px;
    font-size: large;
    margin: 8px 0;
    background-color: white;
    border-bottom: 1px solid blue;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0.2em;
  }
}

input,
textarea {
  border-width: 0px;
  padding: 0em 4em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: ease-in 0.2s;
  background-color: rgb(149 180 224 / 48%);
  color: black;

  ::placeholder {
    color: white;
  }

  &:focus-visible {
    // transform: scale(1.01);
    outline: 0;
    border-bottom: 3px solid blue;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    // box-shadow: 1px 1px 1px grey;
    border: none;
  }
}
