$nav-button-dark-purple: #2b1e48;

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding-top: 25px;

  .MyPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 60vw;
      align-items: flex-start;
      padding-top: 2em;
    }
  }

  .Create-Post {
    display: flex;
    flex-direction: column;
    width: 60%;

    button {
      font-size: 1.15em;
      font-weight: 200;
      background-color: white;
      color: #2b1f47;
      border: 1px solid #2b1f4780;
      margin: 4px 0;
      border-radius: 5px;
      width: fit-content;
      transition: ease-in-out 0.2s;
      padding: 5px;

      &:hover {
        background-color: #2b1e48;
        color: white;
      }
    }

    .form-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

input {
  font-size: large;
  margin: 8px 0;
  background-color: white;
  border-bottom: 2px solid $nav-button-dark-purple;
  padding: 0em 4em;
  width: 100%;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: ease-in 0.2s;
  color: black;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  &:focus-visible {
    outline: 0;
    border-bottom: 3px solid $nav-button-dark-purple;
  }
}

.no-posts {
  display: flex;
  height: 100%;
  align-items: flex-start;
  font-size: 1.7em;
  padding-top: 3.5em;
  font-style: italic;
  color: $nav-button-dark-purple;

  font-family: "Apparat-light", sans-serif;

  h3 {
    font-weight: 300;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .no-posts {
    width: 90vw;
  }

  .Dashboard {
    .Create-Post {
      width: 85%;

      button {
        font-family: "apparat", sans-serif;
        font-size: 1.1em;
        font-weight: 600;
      }
    }

    .MyPosts ul {
      width: 85vw;
    }
  }
}
