.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 100%;

  h1 {
    color: #85a1c8;
    font-size: 4em;
  }

  .heading {
    // padding-top: 15%;
    padding-bottom: 5%;
  }
}
