// $babyblue: rgb(157, 202, 237);
// $light-purple: #e2d5e6;
// $dark-purple-background: #201922;
// $light-yellow-background: #eae9e2;
// $footer-color-lightblue: rgb(213 217 229 / 90%);

$nav-button-dark-green: #1b5e20;
$heading-medium-green: #6b915f;
$post-light-green: #8bc34a96;
$post-comment-dark-green: #15410e;
$heading-h3-grey-green: #576253;

@font-face {
  font-family: "Cirrus-Cumulus";
  src: url("./fonts/CirrusCumulus/CirrusCumulus.ttf") format("truetype"),
    url("./fonts/CirrusCumulus/CirrusCumulus.woff") format("woff");
}

@font-face {
  font-family: "Terminal-Grotesque";
  src: url("./fonts/terminal-grotesque/terminal-grotesque-webfont.ttf")
      format("truetype"),
    url("./fonts/terminal-grotesque/terminal-grotesque-webfont.woff")
      format("woff"),
    url("./fonts/terminal-grotesque/terminal-grotesque-webfont.woff2")
      format("woff2");
}

@font-face {
  font-family: "victorianna";
  src: url("./fonts/victorianna/vtf_victorianna_thin-webfont.ttf")
      format("truetype"),
    url("./fonts/victorianna/vtf_victorianna_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "victorianna-italic";
  src: url("./fonts/victorianna/vtf_victorianna_thin_talic-webfont.ttf")
      format("truetype"),
    url("./fonts/victorianna/vtf_victorianna_thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "Ostrich-Sans-Regular";
  src: url("./fonts/OstrichSans/regular/ostrich-sans-regular.ttf")
      format("truetype"),
    url("./fonts/OstrichSans/regular/ostrich-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Ostrich-Sans-Bold";
  src: url("./fonts/OstrichSans/bold/ostrich-sans-bold.ttf") format("truetype"),
    url("./fonts/OstrichSans/bold/ostrich-sans-bold.woff") format("woff");
}

@font-face {
  font-family: "Ostrich-Sans-Rounded";
  src: url("./fonts/OstrichSans/rounded/ostrich-sans-rounded.ttf")
      format("truetype"),
    url("./fonts/OstrichSans/rounded/ostrich-sans-rounded.woff") format("woff");
}

@font-face {
  font-family: "Ostrich-Sans-Black";
  src: url("./fonts/OstrichSans/black/ostrich-sans-black.ttf")
      format("truetype"),
    url("./fonts/OstrichSans/black/ostrich-sans-black.woff") format("woff");
}

@font-face {
  font-family: "junction-regular";
  src: url("./fonts/junction/junction-regular.ttf") format("truetype"),
    url("./fonts/junction/junction-regular.woff") format("woff");
}
body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: "Apparat-light", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: $post-comment-dark-green;
}

html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
  // background-color: $;
}
