// $dark-purple-background: #201922;
$light-yellow-background: #eae9e2;
$medium-blue: #334b92;

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  top: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100;
  font-size: 30px;
  color: $medium-blue;
  background-color: white;

  .nav-icon {
    font-size: 30px;
    background: none;
    color: #334b92;
  }
}

.nav-links {
  button {
    font-size: 0.8em;
    background: none;
    font-family: "Apparat-light", sans-serif;
    font-weight: 400;
    color: $medium-blue;

    &:hover {
      border-bottom: 0.5px solid #6e88af;
    }
  }
}
