// $dark-purple-background: #201922;
$bright-blue: #324aef;
$medium-blue: #334b92;
$cirrus-cumulus: "Cirrus-Cumulus", sans-serif;

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  top: 0px;
  padding-top: 25px;
  z-index: 100;
  font-size: 32px;
  color: $medium-blue;
  background-color: white;

  margin-bottom: 15px;
  .nav-icon {
    background: none;
    color: $bright-blue;
  }

  // .nav-left {
  //   width: 60%;
  // }

  // .nav-right {
  //   width: 40%;
  // }

  .nav-left {
    width: auto;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
  }

  .nav-right {
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding-right: 2.5%;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }

  .nav-btn {
    font-size: 0.8em;
    background: none;

    font-family: "Apparat-light", sans-serif;
    font-weight: 400;
    color: $medium-blue;
    border-radius: 10px;
    padding: 0.5vmin 1vmin;

    &:hover {
      border-bottom: 1px solid $bright-blue;
      border-radius: 0;
    }
  }

  #login-btn,
  #logout-btn {
    background-color: $bright-blue;
    color: white;
    &:hover {
      border-radius: 10px;
      background-color: #1a2884;
    }
  }
}
