$cirrus-cumulus: "Cirrus-Cumulus", sans-serif;
$nav-button-dark-green: #1b5e20;
$heading-h3-grey-green: #576253;
$post-light-green: #8bc34a96;
$heading-medium-green: #6b915f;
$mobile-nav-background-lightgreen: #cdf0c2;

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  top: 0px;
  padding-top: 25px;
  z-index: 100;
  font-size: 32px;
  margin-bottom: 15px;
  .nav-icon {
    background: none;
    color: $nav-button-dark-green;
    transition: ease-in 0.1s;

    &:hover {
      opacity: 70%;
    }

    &:active {
      color: $heading-medium-green;
    }
  }

  .nav-left {
    width: auto;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
  }

  .nav-right {
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding-right: 2.5%;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }

  .nav-btn {
    font-size: 0.8em;
    background: none;

    font-family: "Apparat-light", sans-serif;
    font-weight: 400;
    color: $nav-button-dark-green;
    border-radius: 10px;
    padding: 0.5vmin 1vmin;

    &:hover {
      border-bottom: 1px solid $nav-button-dark-green;
      border-radius: 0;
    }
  }

  #logout-btn {
    background-color: $nav-button-dark-green;
    color: white;
    &:hover {
      border-radius: 10px;
      background-color: $post-light-green;
      color: $nav-button-dark-green;
    }
  }

  #login-btn {
    border-radius: 10px;
    background-color: $post-light-green;
    color: $nav-button-dark-green;
    border-bottom: 1px solid $nav-button-dark-green;
    // border: 1px solid $nav-button-dark-greens;
    &:hover {
      background-color: $nav-button-dark-green;
      color: white;
    }
  }
}

.nav-mobile {
  display: none;
}

// @media only screen and (max-width: 450px) {
//   .nav-container {
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
//   }
//   .nav-mobile {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100vw;
//     position: sticky;
//     top: 0px;
//     z-index: 100;

//     button {
//       width: 100%;
//       height: 10vh;
//       font-size: 2.75em;
//       color: $nav-button-dark-green;
//       background-color: $mobile-nav-background-lightgreen;
//     }
//   }

//   .Nav {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     height: 85vh;
//     font-size: 3em;
//     gap: 7vh;
//     background-color: white;
//     // border: 1px solid $post-light-green;
//     position: fixed;
//     top: 10vh;
//     z-index: 90;

//     .nav-right,
//     .nav-left {
//       width: 100%;
//       justify-content: flex;
//       flex-direction: column;
//       align-items: center;
//       padding-right: 0;
//       padding-left: 0;
//       gap: 7vh;
//     }

//     #logout-btn {
//       background-color: white;
//       color: $nav-button-dark-green;
//     }

//     .nav-icon-home {
//       font-size: 1em;
//       color: $post-light-green;
//     }
//   }

//   .nav-layout {
//     display: flex;
//   }
// }
