.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;

  .register-form {
    width: 60%;
    margin-top: 25%;
  }

  .form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    gap: 10px;
  }

  .sign-up-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
